.project{ :id => project_id, :style => "background: ##{color}" }
  - if project.thumbnail
    .thumbnail
      = astart
      %img{ :src => project.thumbnail, :align => "left", :alt => "screen capture of destination page" }
      = aend

  .details
    .titlebar
      .date
        = project.date_str
      .title
        - if project.homepage
          %a{:href => project.homepage}
            = project.name
        - else
          = project.name
    .description
      = project.description
      = project.role
    - if project.blog
      %a{ :href => project.blog } (read announcement)
      %br/
    - if project.homepage
      %a{ :href => project.homepage } (visit site)
      %br/
    - if project.screencast
      %a{ :href => project.screencast } (watch movie)
      %br/
    - if project.documentation
      %span.label Documentation:
      %a{ :href => project.documentation } (view documentation)
      %br/
    - if project.sources
      %a{ :href => project.sources } (view source)
      %br/
    .technologies{ :style => "color: ##{fgcolor}" }
      %span.label Technologies:
      - project.public_technologies.each_with_index do |tag, i|
        - if i>0
          = ', '
        %span.item
          = tag
    - if project.company
      .company{ :style => "color: ##{fgcolor}" }
        %span.label Company:
        = project.company
    - if project.tags
      .tags{ :style => "color: ##{fgcolor}" }
        %span.label Tags:
        = project.public_tags.map {|s| "<span classname='tag'>#{s}</span>"}.join(', ')
